[Desktop Entry]
Name=xfoneos-installer
Comment=XFoneOS Installer
Exec=xfoneos-installer
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/icon.png
